#game {
    width: 100%;
    height: 200px;
}
#character {
    width:20px;
    height:50px;
    background-color:#231c40;
    position:relative;
    top: 150px;
}
.animate{
    animation:jump 300ms infinite;
}
#block {
    width: 20px;
    height:20px;
    background-color:#6F58C9;
    position:relative;
    top:130px;
    left:960px;
    animation: block 1s infinite linear;
}
#pause {
    width: 4px;
    height: 16px;
    border-right: 4px solid #6F58C9;
    border-left: 4px solid #6F58C9;
    margin-left:29.4em;
}
@keyframes jump{
    0%{top:150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top:150px;}
}
@keyframes block{
    0%{left:960px}
    100%{left:-40px;}
}
.counter {
    font-size:2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#6F58C9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.highscore {
    font-size:2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#6F58C9;
    display: flex;
    align-items:flex-end;
    justify-content: right;
}
.title {
    font-family: Monaco,Consolas,Lucida Console,monospace;
    font-size: 8em;
    color:#6F58C9;
    text-align:center;
}
body {
    margin: auto;
    background-color: #f6f9fc;
    }
div {
    display: block;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
  }
  
  li {
    margin-right:4em;
    float:right;
    padding:3em;
  }
  
  li a {
    position:absolute;
    display: block;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    color: #231c40;
    text-align: center;
    padding:0.1em;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(180, 180, 200);
    color: rgb(57, 0, 192);
    transition-duration:0.5s;
  }
.center {
    font-size:medium;
    margin: auto;
    width:50%;
    padding: 10em;
    background-color:lavender;
    
}
.container {
    position:relative;
    margin:auto;
    padding: 40px;
    width: 50%;
    background-color:#ffffff;
    border-radius:4px;
    margin-top:8em;
    margin-bottom:60px;
    border: none;
    box-shadow:0 50px 100px rgb(50 50 93 / 5%), 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 10%);
}
.project {
    display:flex;
    margin:100px 375px;
    padding:60px;
    width:50%;
    background-size:cover;
    margin-bottom:-10%;
}
.slideContainer {
    text-align: center;
    margin-top: 2em;
    margin-left: 45.8%;
    max-width: 50%;
    margin-top:2em;
    position:relative;
}
.slides {
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    padding: 1em;
    display:contents;
    margin-left:40.8%;
    /*display:none;*/
    text-align:center;
    background-color: #ffffff;
    color:#6F58C9;
}
.slideContainer:hover{
    background-color: rgb(180, 180, 200);
    color: rgb(57, 0, 192);
    transition-duration:0.5s;
}
.projectCounter {
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    color:#6F58C9;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev {
    position:absolute;
    left:0;
}
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
a {
    color:#6F58C9;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}
p {
    margin-top: auto;
    margin-left:40.8%;
    color:#6F58C9;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    text-align:left;
    position:relative;
}
h1 {
    color:#000000;
    text-align:center;
}
h2 {
    margin-left:41%;
    position:relative;
    display:flex;
    color: #7E78D2;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    text-align: center;
}
h3 {
    color:#6F58C9;
    font-family:Camphor,Open Sans,Segoe UI,sans-serif;
    text-align:center;
    margin: auto;
}
img {
    margin:auto;
    max-height:100%;
    max-width: fit-content;
    border-radius:8px;
}
.projimage {
    position:absolute!important;
    top:0;
    left:0;
    max-width:415px;
    height:450px;
}
select {
    width: 15%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
.button {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button1:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
}
.button_links {
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    background-color:#7E78D2;
    box-shadow:0 50px 100px rgb(50 50 93 / 5%), 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 10%);
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin-left:25em;
  }
  
.button_links:hover {
    background-color:#6F58C9;
    transition-duration:0.5s;
    cursor: pointer;
  }
